<div class="container">
  <div class="row">
    <div class=" col-md-3 block">
      <p><%= current_user.name %></p>
      <a href="#">Edit profile</a>
    </div>
    <div class="col-md-7 block"><h2>Pet bookings:</h2>
    <% @user_bookings.each do |booking| %>
      <div class="booking">
        <p class="text-center"><strong>Booking (<%= booking.id %>)</strong></p>
        <p><strong><%= booking.pet_name %></strong> is staying with <strong><%= booking.host.name %></strong></p>
        <p><strong>Starting:</strong> <%= booking.start_date %>
        <p><strong>Ending:</strong> <%= booking.end_date %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-3 block" style="opacity: 0;"><%= current_user.email %>
    </div>
    <div class="col-12 col-sm-6 col-md-7 align-right block"><h2>Pet hostings:</h2>
      <div class="hosting">You're not a host yet. <a href="#">Become a host!</a></div>
    </div>
  </div>
</div>
