<div class="content">
  <div class="container-cards">
    <div class="row">
      <% @hosts.each do |host| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= link_to host_path(host.id) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/<%= host.image %>');">
            <div class="card-category"><%= host.rating %> ⭐</div>
            <div class="card-headline">
              <h2><%= host.name %></h2>
              "<%= host.description %>"
            </div>
            <div class="card-description">
              <p><%= host.pet_type %></p>
            </div>
            <div class="card-price"> <%= host.price %>€</div>
          </div>
        <% end %>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= host.username %>">
        <a class="card-link" href=""></a>
      </div>
      <% end %>
    </div>
  </div>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>
