<div class="content">
  <div class="container-cards">
    <div class="row">
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
      <% end %>
      <%= yield %>
    </div>
      <% @hosts.each do |host| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= link_to host_path(host.id) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/<%= host.image %>');">
            <div class="card-category"><%= host.rating %> ⭐</div>
            <div class="card-headline">
              <h2><%= host.name %></h2>
              "<%= host.description %>"
            </div>
            <div class="card-description">
              <p>Sitting: <%= host.pet_type %></p>
            </div>
            <div class="card-price"> <%= host.price %>€</div>
          </div>
        <% end %>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= host.username %>">
        <a class="card-link" href=""></a>
      </div>
      <% end %>
    </div>
  </div>
    <!-- <div class="container-map"> -->`
  <div id="map"></div>
    <!-- Gmaps js: building the map -->
</div>
  <script>
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 52.5206,
          lng: 13.4098
        },
        scrollwheel: false,
        zoom: 12
      });
    }
  </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Gmaps JavaScript -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>


