<div class="container host_details">
  <div class="container welcome_book">
    <h1>Hi there, <%= @host[:name] %> would love to PetSit!</h1>
  </div>
  <div class="container hoster_image">
    <img src="https://images.unsplash.com/<%= @host.image %>" height="300" width="450" id="host_image">
  </div>


  <div class="container hoster_descrip">

  <p><repeat n=<%= @host[:rating] %>></repeat></p>
  <p><i class="fas fa-euro-sign"></i> <%= @host[:price] %></p>
  <p><i class="fas fa-paw"></i> <%= @host[:pet_type] %></p>
  <p><i class="far fa-user-circle"></i> <%= @host[:description] %></p>
  <p><i class="far fa-address-card"></i> <%= @host[:address] %></p>
  <p><i class="fas fa-envelope-square"></i> <%= @host[:email] %>
  <p><i class="fas fa-mobile-alt"></i> <%= @host[:phone_number] %></p>

  <%= link_to "Book now", new_host_booking_path(@host), class: "btn btn-primary_book_me"%>
  </div>
</div>

