<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">




<div class="container host_details">
  <div class="container welcome_book">
    <h1>Hi there, <%= @host[:name] %> would love to PetSit!</h1>
  </div>
  <div class="container hoster_image">
    <img src="https://images.unsplash.com/<%= @host.image %>" height="300" width="450" id="host_image">
  </div>


  <div class="container hoster_descrip">

  <p><i class="fas fa-euro-sign"></i>: <%= @host[:price] %></p>
  <p>A bit about <%= @host[:name] %>: <%= @host[:description] %></p>
  <p>Pet type: <%= @host[:pet_type] %></p>

  <p><i class="far fa-address-card"></i> <%= @host[:address] %></p>
  <p><i class="fas fa-envelope-square"></i>: <%= @host[:email] %>     |
  <i class="fas fa-mobile-alt"></i>  <%= @host[:phone_number] %></p>
    <div class="container circle_text">
      RATING <repeat n=<%= @host[:rating] %>></repeat>
    </div>
  <%= link_to "Book now", new_host_booking_path(@host), class: "btn btn-primary_book_me"%>

  </div>

</div>

<div class="map_box">
<div
  id="map-show"
  style="width: 100%, padding: 10px;
  height: 300px;"
  data-marker="<%= @marker.to_json %>"
  />
</div>
</div>
