<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p class="text-left">Name: Lui</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p class="text-right">Address: 124 mulbourough road</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <p class="text-left">cost: $65</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p class="text-right">description: Quis ut sunt velit dignissimos. Eum aut et consequatur quo eius. Quia laboriosam rerum quis cupiditate suscipit in quia cum. Veritatis officiis commodi eos.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="text-left">pet type: Dogs</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="text-center">rating: 4/5 stars</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="text-right">email: hello@google.com</p>
    </div>
    </div>
    <div class="row text-right">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <p>phone_number: +65 12931937</p>
    </div>
  </div>
</div>

<%= link_to "Book now!", new_host_booking_path(@host) %>


<!-- <div class = "greeting">
  Hi there, <%= @host[:name] %> would love to PetSit!
</div>
<div class = "main-container">
<div class = "container">
  <table>
    <div class="name_address">
      <div>NAME <%= @host[:name] %>
      </div>
      <div> ADDRESS <%= @host[:address] %>
      </div>
    </div>
    <tbody>


      <div class="row_description">
          <div> A little bit about <%= @host[:name] %> : <%= @host[:description] %> </div>

      </div>

      <div class="row_price">
        <div>It'll cost you: </div>
        <div>$<%= @host[:price] %></div>
      </div>

      <div class="row_rating">
        <div>Rating: </div>
        <div><%= @host[:rating] %> </div>
      </div>

      <div class="row_pet">
        <div>Pet Type </div>
        <div><%= @host[:pet_type] %></p> </div>
      </div>

      <div class="row_email">
        <div> EMAIL </div>
        <div> <%= @host[:email] %></p> </div>
      </div>

      <div class="row_phone">
        <div> PHONE NUMBER </div>
        <div> <%= @host[:phone_number] %> </div>
      </div>

      </tbody>
    </table>
</div>
</div>
-->
