<h1>Hi there, <%= @host[:name] %> would love to PetSit!</h1>
<p>Here are the details:</p>

<table>
<thead>
  <tr>
<p> * <%= @host[:address] %></p>
</tr>
<tr></tr>
<p> * <%= @host[:email] %></p>
<p> * <%= @host[:phone_number] %></p>
<p> * <%= @host[:description] %></p>
<p> * <%= @host[:price] %></p>
<p> * <%= @host[:rating] %></p>
<p> * <%= @host[:pet_type] %></p>
</tr>
</table>
