<div style="min-height: calc(100vh - 250px)">
  <div class="container new_form_booking">
    <h1>Book now!</h1>
    <%= simple_form_for [@host, @booking] do |f| %>
    <%= f.input :pet_name %>
    <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :special_requirements %>

      <%= f.submit "Book now!", class: "btn btn-primary_book" %>
    <% end %>
  </div>
</div>
